<%- include('layout-start.ejs') -%>



<div class="row justify-content-center">
<div class="col-md-8">
  <h2>Ajouter un contact</h2>
<div class="card">
<div class="card-body" id="FormRegister">

    <form action="/contact/create" method="POST">
      
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Prénom</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Michal" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Nom</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="Name" id="Name" placeholder="Vilk" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Prénom</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Michal" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Organisation</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-building-ngo"aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="organization" id="organization" placeholder="Apple" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Photo</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-camera" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="photo" id="photo" placeholder="insérez votre photo" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Téléphone</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-phone"aria-hidden="true"></i></i></span>
            <input type="tel" class="form-control" name="workPhone" id="workPhone" placeholder="01.12.34.56.78" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="birthday">Anniversaire</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-cake-candles"aria-hidden="true"></i></span>
            <input class="form-control my-1" type="date" id="birthday" name="birthday" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Titre</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-pencil"aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="title" id="title" placeholder="Titre" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">URL</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa-solid fa-browsers" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="url" id="url" placeholder="https://www.w3schools.com/howto/howto_css_column_cards.asp" />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end my-3">
        <button class="btn btn-primary" type="submit">Ajouter</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div> 

<%- include('layout-end.ejs') -%>