<%- include('layout-start.ejs') -%>

<h2>Ajouter un contact</h2>
<div class="card">
<div class="card-body">
<form action="/contact/create" method="POST">
  <label for="firstName">Prénom</label>
  <input class="form-control my-1" type="text" id="firstName" name="firstName" />

  <label for="lastName">Nom</label>
  <input class="form-control my-1" type="text" id="lastName" name="lastName" />

  <label for="organization">Organisation</label>
  <input class="form-control my-1" type="text" id="organization" name="organization" />

  <label for="photo">Photo</label>
  <input class="form-control my-1" type="url" id="photo" name="photo" />

  <label for="workPhone">Téléphone</label>
  <input class="form-control my-1" type="tel" id="workPhone" name="workPhone" />

  <label for="birthday">Anniversaire</label>
  <input class="form-control my-1" type="date" id="birthday" name="birthday" />

  <label for="title">Titre</label>
  <input class="form-control my-1" type="text" id="title" name="title" />

  <label for="url">URL</label>
  <input class="form-control my-1" type="url" id="url" name="url" />

  <div class="d-flex justify-content-end my-3">
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </div>
</form>
</div>
</div>

<%- include('layout-end.ejs') -%>