<%- include('layout-start.ejs') -%>

<h2>Contact list</h2>
<ul>
  <% if(contacts){ contacts.forEach(function(contact){ %>
  <li>
    <a href="<%= "/contact/show/" + contact.id %>">
        <%= JSON.stringify(contact) %>
    </a>
  </li>
  <% });} %>
</ul>

<%- include('layout-end.ejs') -%>